
<div>
    <span class="badge badge-primary badge-pill myClass"> {{ post.created_at | date: 'short' }}</span>
  <h6>{{ post.title }}</h6>
  <p>{{post.content}}</p>
  <button type="button" class="btn btn-success" (click)='onClickLike()'>LIKE :)</button>
  <button type="button" class="btn btn-danger" (click)='onClickDislike()'>DON'T LIKE :(</button>
</div>

