<h4>
  liste des posts
</h4>

<ul class="list-group">
  <li *ngFor='let post of posts'  [ngClass] = "{'list-group-item' : true, 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0 }">
    <app-post-list-item-component [post]='post'></app-post-list-item-component>
  </li>
</ul>
